@using final.ViewModels;
@{
    ViewData["Title"] = "Index";
}
@model List<MarkaModel>
<h2>Araç ve Fiyat Listesi</h2>
<hr />

<form asp-action="PageList" method="get">
    <div class="input-group w-50 mt-3">
        <input type="search" name="searchText" value="@ViewBag.SearchText" class="form-control " placeholder="Araç Markasınız Giriniz" />
        <div class="input-group-append">
            <input type="submit" value="Ara" class="btn btn-primary" />
        </div>

    </div>

</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>SN</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
            </tr>

        }

    </tbody>
</table>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
        if (i == ViewBag.Page)
        {
            <li class="page-item active"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@i" asp-route-size=@ViewBag.Size>@i</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@i" asp-route-size=@ViewBag.Size>@i</a></li>
        }

    }



</ul>

<ul class="pagination">
    @for (int i = 5; i <= 25; i = i + 5)
    {
        if (i == ViewBag.Size)
        {
            <li class="page-item active"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@ViewBag.page" asp-route-size="@i">@i</a></li>
        }
        else
        {
            <li class="page-item "><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@ViewBag.page" asp-route-size="@i">@i</a></li>
        }
    }



</ul>